In [10]:
# Import findspark and initialize. 
import os
os.environ["SPARK_HOME"] =
import findspark
findspark.init()

SyntaxError: invalid syntax (2306095600.py, line 3)

In [11]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

ModuleNotFoundError: No module named 'pyspark'

In [12]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
home_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True, ignoreLeadingWhiteSpace=True)
home_df.show()

ModuleNotFoundError: No module named 'pyspark'

In [13]:
# 2. Create a temporary view of the DataFrame.
home_df.createOrReplaceTempView('home_data')

NameError: name 'home_df' is not defined

In [14]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
avg_price_4_bedroom = spark.sql("SELECT ROUND(AVG(price),2), YEAR(date) from home_data where bedrooms == 4 group by YEAR(date) ORDER BY YEAR(date) desc")
avg_price_4_bedroom.show()

NameError: name 'spark' is not defined

In [15]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
avg_price_3_bed_3_bath = spark.sql("SELECT ROUND(AVG(price),2), date_built from home_data where bedrooms == 3 AND bathrooms == 3 group by date_built ORDER BY date_built desc")
avg_price_3_bed_3_bath.show()

NameError: name 'spark' is not defined

In [16]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
avg_price_3_bed_3_bath_2_floors = spark.sql("SELECT ROUND(AVG(price),2), date_built from home_data where bedrooms == 3 AND bathrooms == 3 AND floors == 2 AND sqft_living >= 2000 group by date_built ORDER BY date_built desc")
avg_price_3_bed_3_bath_2_floors.show()

NameError: name 'spark' is not defined

In [17]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating. 
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()
spark.sql("SELECT view, ROUND(AVG(price),2) from home_data group by view having ROUND(AVG(price),2) >= 350000").show()


print("--- %s seconds ---" % (time.time() - start_time))

NameError: name 'time' is not defined

In [18]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_data")

NameError: name 'spark' is not defined

In [19]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

NameError: name 'spark' is not defined

In [20]:
# 9. Using the cached data, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()
spark.sql("SELECT view, ROUND(AVG(price),2) from home_data group by view having ROUND(AVG(price),2) < 350000").show()


print("--- %s seconds ---" % (time.time() - start_time))

NameError: name 'time' is not defined

In [21]:
#determine the runtime and compare to the original runtime
print("the cached runtime of 0.371 seconds was shorter than the original runtime of 0.588 seconds")

the cached runtime of 0.371 seconds was shorter than the original runtime of 0.588 seconds

In [22]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 
home_df.write.parquet('home_parquet', mode='overwrite')

NameError: name 'home_df' is not defined

In [23]:
# 11. Read the formatted parquet data.
parquet_home_df = spark.read.parquet('home_parquet')

NameError: name 'spark' is not defined

In [24]:
# 12. Create a temporary table for the parquet data.
parquet_home_df.createOrReplaceTempView('parquet_temp_home')

NameError: name 'parquet_home_df' is not defined

In [25]:
# 13. Using the parquet DataFrame, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

spark.sql("SELECT view, ROUND(AVG(price),2) from parquet_temp_home group by view having ROUND(AVG(price),2) < 350000").show

print("--- %s seconds ---" % (time.time() - start_time))

NameError: name 'time' is not defined

In [26]:
# Determine the runtime and compare it to the cached version.
print("the parquet runtime of 0.333 seconds is slightly shorter than the cached runtime of 0.371 seconds")

the parquet runtime of 0.333 seconds is slightly shorter than the cached runtime of 0.371 seconds

In [27]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_data")

NameError: name 'spark' is not defined

In [28]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached('home_data')

NameError: name 'spark' is not defined